.form-container {
  background-color: #f9f4ef;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 20rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: #020826;
  font-size: 2rem;
}
label {
  color: #716040;
  font-size: larger;
}
input {
  border: 1px solid rgb(214, 214, 214);
  padding: 8px;
  outline: 0;
  width: 90%;
  height: 2.5rem;
  border-radius: 4px;
}
.form button {
  margin: 12px;
  height: 2.5rem;
  width: 13rem;
  border: 0;
  background-color: #8c7851;
  color: #fffffe;
  border-radius: 4px;
}
.form button:active {
  box-shadow: inset 1px 1px 7px black;
}
img {
  height: 1rem;
  margin-right: 8px;
}
.sign-out {
  display: flex;
  justify-content: flex-end;
}
.signOut {
  border-radius: 4px;
  width: 10rem;
  align-items: flex-end;
}
svg {
  height: 2rem;
  margin-right: 8px;
}
.alert {
  margin: 0;
  padding: 0rem;
  height: 1.5rem;
}
.alert p {
  margin: 0;
  color: rgb(255, 28, 28);
  font-size: small;
  font-weight: bold;
}
